body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


section {
    max-width: 800px;
    margin: auto;
}

#game-container {
    text-align: center;
}

#players-container {
    display: flex;
    justify-content: space-around;
}

.player {
    border: 1px solid;
    padding: 1em;
    border-radius: 10px;
}

h3 {
    cursor: pointer;
}

#rules {
    margin-top: 50px;
    margin-bottom: 50px;
    display: none;
}